/*personal confusing selector syntax = file/location/element-type */

body {
    background-color: black;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}
.index-header-container,
.chicken-header-container,
.pie-header-container,
.mac-header-container
{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 800px;
    height: 150px;
    flex-direction: column;
    border: 2px solid cyan;
    background-color: gray;
    margin-bottom: 20px;
}
.chicken-header-container
{
    display: flex;
    margin-right: auto;
    width: 600px;
    height: 400px;
    padding-bottom: 50px;
}
.index-header-container{
    margin: auto;
  }
  .mac-header-container{
    width: 600px;
    height: 400px;
    padding-bottom: 50px;
  }
  .pie-header-container{
    width: 600px;
    height: 400px;
    padding-bottom: 50px;

  }
.container-navlist{
  display: flex;
  gap: 50px;
  justify-content: center;
  width: 600px;
  height: 150px;
  margin: auto;
  margin-top: 20px;
  border: 2px solid cyan;
  background-color: grey;
}

.container-navlist .navlist{
  /*flex: 1 1; is shorthand for flex-grow flex-shrink flex basis respectively*/
  flex: 1 1;
  background-color: white;
  border: 3px solid black;
  padding: 20px;
  margin: 20px
    
}
.index-header-content,
.chicken-header-content,
.pie-header-content,
.mac-header-content
{
  align-items: center;
  gap: 2px;
  background-color: white;
  border: 3px solid black;
  margin: 10px;
  flex-shrink: 1;
}

img {
    height: auto;
    width: 400px;
    max-width: 100%;
}
.chicken-content-container,
.pie-content-container,
.mac-content-container
{
    display: flex;
    flex-direction: column;
    border: 2px solid cyan;
    width: 325px;
    padding-left: 60px;
    background-color: grey;
    margin-left: 100px;
}
.chicken-content-child,
.pie-content-child,
.mac-content-child
{
    background:white;
    width: 200px;
    border: 3px solid black;
    margin: 10px;
}
